<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mute-on-lock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E1F77E21DB419E1002C9269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1F77F31DB419E1002C9269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1F77FE1DB419E1002C9269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
